{% extends 'base.html' %}

{% block pagetitle %}
Customer Page
{% endblock %}

{% block title %}
Bartender Bot - Customer Page
{% endblock %}

{% block content %}

<h2>Please chose a drink and a station</h2>

<form action="{{ url_for('customer_order') }}" method="POST">
  <label for="drink">Chose a drink:</label>
  <select id="drink" name="drink">
    <option value="Red">Red Volcano</option>
    <option value="Green">Green Huricane</option>
    <option value="Blue">Blue Tiger</option>
    <option value="Clear">John Cena</option>
  </select>

  {% if station == None %}
  <label for="station">Chose a station:</label>
  <select id="station" name="station">
    <option value="1">One</option>
    <option value="2">Two</option>
    <option value="3">Three</option>
    <option value="4">Four</option>
  </select>
  {% else %}
  <input type="hidden" name="station" value="{{ station }}" />
  {% endif %}

  <button type="submit">Submit</button>
</form>

{% endblock %}