<!DOCTYPE html>
<html lang="en-US">

<head>
<title>Bartender Bot - Admin Page</title>
</head>
<body>

<h1>Bartender Bot - Admin Page</h1>
<hr>

<h2>Add/Remove Drinks</h2>
<form>Name of Drink: <input type="text"></form>
<form>Amount from Container 1: <input type="text"></form>
<form>Amount from Container 2: <input type="text"></form>
<form>Amount from Container 3: <input type="text"></form>
<form>Amount from Container 4: <input type="text"></form>
<select name="addRemove" id="addRemove">
  <option value="add">add</option>
  <option value="remove">remove</option>
</select>
<button type="button">Done</button>
<hr>

</body>
</html>
